
<form>
    <div class="Checkoutitems">
        <h1>Hello world</h1>
        <!--<div class="list-group-item" *ngFor="let item of cartItems">
            <app-itemcart [cartItems]= item></app-itemcart>
            <button type="submit"> Remove</button>
            {{item.productName}}
            
        </div> -->
    <div class="row"> 
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Availabilty</th>
                </tr>
                <tr *ngfor="">
                    
                    <td></td>
                    <td></td>
                    <td>Hello</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
             <h2>Total :</h2>

             <div class="row">
                 <button type="submit">Conformation</button>
             </div>
             
            

        </div>
        <div class="col-md-3">

        </div>


    </div>

    </div>
    
</form>
