
   
<app-nav></app-nav> 



<!--<app-product-detail-list></app-product-detail-list>-->

   <!-- <div class="Contaner"> 
       <div class ="row">

       </div>
          <div class="row">
          
               <div class="col-md-2">

               </div>
  
                <div class="col-md-8">
                 <app-product-detail-list></app-product-detail-list>
                </div>
  
                 <div class="col-md-2">
                  <app-cart></app-cart>
                 </div>

            </div>

        </div>-->

        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <h2 style="text-align:center;">Shopping cart</h2>
          </div>
          <div class="col-md-4">

          </div>
          
         
        </div>   
  

 
   

    

  

  <!-- Footer -->
  <footer>

    <h1></h1>
     
  </footer>

  



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
                                                          