


<form  #form="ngForm" autocomplete="off" (submit)="OnSubmit(form)" ngNativeValidate > 
    <!--[formGroup] = "loginForm"-->
    <div class="login">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div>
                    <h3>User Login</h3>
                    <br/>
                    <label for="validationTooltip01">Password</label>
                    <input type="password" placeholder="Password" id="validationTooltip01" value="Mark" name="Password" #password="ngModel" [(ngModel)]="userservice.formData.Password" class="form-control" required/>
                    <div class="invalid-tooltip">
                        Please provide a valid Password.
                      </div>
                    <br/>
                    <input type="text" placeholder="Email" name="Username" #password="ngModel" [(ngModel)]="userservice.formData.Username" required/>
                    <br/>
                    <button type="submit" class="btn btn-primary">Login</button>
                 </div>
            </div>
            <div class="col-md-3">

            </div>
             
         </div>
      </div>
</form>


